@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(89, 204, 189);
    line-height: 1rem;
    color: rgb(50, 70, 97);
}

body {
    margin: 0;
}

#wrapper {
    width: min-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: whitesmoke;
    padding: 30px;
    box-sizing: border-box;
}

canvas {
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#tray {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#tray > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#styles {
    width: 450px;

}

#tools {
    width: 140px;
}

input {
    border: 0;
    transition: 0.2s;
}

input:active {
    filter: brightness(0.9);
}

.html5colorpicker {
    width: 100%;
    height: 32px;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#colors {
    justify-content: center;
}

button {
    background: white;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(200, 203, 206);
    border-radius: 3px;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}

button:active {
    filter: brightness(0.9);
}

.icon-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#line-size-counter {
    font-family: 'Courier New', monospace;
    font-weight: 600;
    text-align: right;
    width: 2em;
}
svg {
    padding: 5px;
}

button > svg {
    padding: 0;
}

.slider-group {
    display: flex;
    flex-direction: column;
}

.control-group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.control-group > span {
    grid-column: span 2;
    font-weight: 700;
    display: inline;
}

.group > span {
    grid-column: span 2;
    font-weight: 700;
    display: inline;
}

#controls {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: small;
  }

.mono {
    font-family: 'Courier New', Courier, monospace;
}

#sliderCam {
    flex-grow: 1;
}